## Here we import the model we train previously to evaluate and predict values
##### For testing we call in our training/test examples to run on the model

In [1]:
import keras, os, pickle, ast
# import implicit
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from IPython.display import SVG
from keras.models import model_from_json
from keras.optimizers import Adam
from keras.layers import Dense,Dropout, Activation
from keras.layers.normalization import BatchNormalization
from keras.callbacks import CSVLogger
from keras.utils.vis_utils import model_to_dot
from IPython.display import SVG
from keras.callbacks import ReduceLROnPlateau, History
from keras.regularizers import l1,l2
import seaborn as sns
sns.set()

Using TensorFlow backend.

In [2]:
pd.set_option('display.max_rows', 500)

### Load pretrained model and weights

In [3]:
# load json and create model
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)

# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")

Loaded model from disk

In [4]:
loaded_model.compile(loss='categorical_crossentropy', optimizer= Adam(lr = 0.000005), metrics=['categorical_accuracy'])

In [ ]:
score = loaded_model.evaluate(X_train, Y_train, verbose=0)
print("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))

In [ ]:
df = pd.read_excel('EngagementTest4.xlsx')

#remove first column from importing excel
df = df.drop('Unnamed: 0', axis = 1)

#shuffle dataframe for randomness in splitting
df = df.sample(frac = 1)

### For Reference, we look at the following table metrics that we trained out neural network on

#### Happy | Angry | Disgusted | HandRaised | Sleep | HeadGaze | >>> Engagement

#### Consider the emotions model

In [ ]:
#first we read the values from emotions (expression.csv)

df_emo = pd.read_csv('Expression.csv')

In [ ]:
df_emo.head(10)

In [ ]:
#drop unnecessary columns that are not trained in the neural net
df_emo = df_emo.drop(columns = ['_x', '_y', '_width', '_height', 'fearful', 'neutral', 'sad','surprised', 'numPerson', 'personId'])
df_emo.head(100)

In [ ]:
#reorder the columns to ensure it fits the train/test format on the NN
emo_order = [3,0,2,1]

df_emo = df_emo[df_emo.columns[emo_order]]
df_emo.tail()

In [ ]:
df_emo

In [ ]:
#get the mean of each second of timeframe
df_emo = df_emo.groupby(['timestamp']).mean()

In [ ]:
#do a check for any NaN values

df_emo.isnull().values.any()

#### Consider the human pose estimator model

In [ ]:
#Consider human pose estimator model
df_pose = pd.read_csv('Pose.csv')

df_pose = df_pose.drop(columns = ['eyeCoordX', 'eyeCoordY', 'numPersons', 'personId'])
df_pose

In [ ]:
#again, we reorder the columns to fit the format
pose_order = [2,1,0]
df_pose = df_pose[df_pose.columns[pose_order]]

df_pose.head()

In [ ]:
#get the maximum of each timestamp

df_pose = df_pose.groupby(['timestamp']).max()

#### Consider the headgaze model

In [ ]:
df_gaze = pd.read_csv('HeadGaze.csv')
df_gaze = df_gaze.drop(columns = ['xCord', 'yCord', 'count', 'numPerson', 'personId'])
df_gaze

In [ ]:
#again, we reorder the columns to fit the format
gaze_order = [1,0]
df_gaze = df_gaze[df_gaze.columns[gaze_order]]

df_gaze.head()

In [ ]:
df_gaze = df_gaze.groupby(['timestamp']).mean()

### Now we combine all the dataframes, should be done through timestamp

In [ ]:
#show individual dataframes
df_gaze

In [ ]:
df_emo

In [ ]:
df_pose

In [ ]:
# we merge each with the df_test according to its timestamp
df_test = df_emo.merge(df_pose, on = 'timestamp', how = 'left')
df_test = df_test.merge(df_gaze, on = 'timestamp', how = 'left')

In [ ]:
#show possible output of dataframe
df_test

In [ ]:
# we then have to deal with the nan values with backward (b)/ forward (f) fill

# possibly do the average of the fills for emotions, check and except loop for type of fill (i.e front nan or back nan)
df_test = df_test.fillna(method = 'bfill')

#then fill those that it missed
df_test = df_test.fillna(method = 'ffill')

#to check if there are still any NaN values (assuming nothing has been read at all to fill)
df_test = df_test.fillna(0)

In [ ]:
# showing preprocessed data
df_test

In [ ]:
# reset the index before we fit into the NN
df_test = df_test.reset_index()

In [ ]:
# we need to drop the timestamp to fit into the NN
df_test = df_test.drop(columns = ['timestamp'])

### What the function should return is below

In [ ]:
df_test

In [ ]:
df_test.count()

### By now, df_test_ready should be prepared/clean, ready to be fit into the model
##### Comparing with the synthetic test dataset as show below

##### Try testing df_test_ready with our model

In [ ]:
print(Z[-1:])
predictions = loaded_model.predict_classes(Z[-1:], verbose = 1) + 1
print()
print(predictions)

##### now we test the output in a time loop interval

In [5]:
#useful variables
emo_order = [0,2,1,3,4,5]
pose_order = [1,0,2,3,4]

In [6]:
def _emoData():
    #emotion dataset
    df_emo = pd.read_csv('Expression.csv')
    df_emo = df_emo.drop(columns = ['_x', '_y', '_width', '_height', 'fearful', 'neutral', 'sad','surprised'])
    df_emo = df_emo[df_emo.columns[emo_order]]
    
    #this value calculates the maximum number of people in the frame to provide a value for each of them
    num_emo = df_emo['numPerson'].max()
    value = num_emo
    
    if num_emo > 1:
        df_emo = df_emo.groupby(['personId', 'timestamp']).mean()
        df_emo = df_emo.reset_index()
        df_emo = df_emo.drop(columns = ['numPerson'])

    else:
        df_emo = df_emo.drop(columns = ['numPerson', 'personId'])
        df_emo = df_emo.groupby(['timestamp']).mean()
        
    return df_emo, value


def _poseData():
    #human pose dataset
    df_pose = pd.read_csv('Pose.csv')
    df_pose = df_pose.drop(columns = ['eyeCoordX', 'eyeCoordY'])
    df_pose = df_pose[df_pose.columns[pose_order]]
    
    num_pose = df_pose['numPersons'].max()
    
    if num_pose > 1:
        df_pose = df_pose.groupby(['personId', 'timestamp']).max()
        df_pose = df_pose.reset_index()
        df_pose = df_pose.drop(columns = ['numPersons'])
    
    else:
        df_pose = df_pose.drop(columns = ['numPersons', 'personId'])
        df_pose = df_pose.groupby(['timestamp']).max()
    
    return df_pose

def _gazeData():
    #head gaze dataset
    df_gaze = pd.read_csv('HeadGaze.csv')
    df_gaze = df_gaze.drop(columns = ['xCord', 'yCord', 'count'])
    #note, we dont need to reorder like the rest
    
    num_gaze = df_gaze['numPerson'].max()
    
    if num_gaze > 1:
        df_gaze = df_gaze.groupby(['personId', 'timestamp']).mean()
        df_gaze = df_gaze.reset_index()
        df_gaze = df_gaze.drop(columns = ['numPerson'])
        
    else:
        df_gaze = df_gaze.drop(columns = ['numPersons', 'personId'])
        df_gaze = df_gaze.groupby(['timestamp']).mean()
        
    return df_gaze

In [7]:
def _data():    
    df_emo, value = _emoData()
    df_pose = _poseData()
    df_gaze = _gazeData()
    
    # merge the different dataframes
    df_test = df_emo.merge(df_pose, on = 'timestamp', how = 'left')
    df_test = df_test.merge(df_gaze, on = 'timestamp', how = 'left')
    
    if value > 1:
        df_test = df_test.drop(columns = ['personId_y', 'personId'])
    
    #fill up the nan values
    df_test = df_test.fillna(method = 'bfill')
    
    #fill up any remaining Nan first
    df_test = df_test.fillna(method = 'ffill')
    df_test = df_test.fillna(0)
    
    if value > 1:
        df_test = df_test.groupby(['personId_x', 'timestamp']).mean()
    
    #currently indexed with the timestamp, change back to normal index and drop timestamp column
    df_test = df_test.reset_index()
    df_test = df_test.drop(columns = ['timestamp'])
    
    
    return df_test, value

In [8]:
df_test, value = _data()

In [9]:
df_test

,personId_x,happy,angry,disgusted,raisHand,sleeping,headpose
0,0,0.816186,3.975968e-06,2.602610e-03,0.0,0.0,0.00
1,0,0.918387,2.006825e-08,4.297819e-08,0.0,0.0,0.00
2,0,0.999881,3.967549e-12,1.009770e-09,0.0,0.0,0.25
3,0,0.997977,6.687523e-11,1.462607e-07,0.0,0.0,0.00
4,0,0.994396,3.213152e-11,3.875951e-09,0.0,0.0,0.00
5,1,0.770420,4.969800e-06,3.253206e-03,0.0,0.0,0.00
6,1,0.913090,2.477479e-08,2.784091e-08,0.0,0.0,0.00
7,1,0.999881,3.967549e-12,1.009770e-09,0.0,0.0,0.25
8,1,0.997977,6.687523e-11,1.462607e-07,0.0,0.0,0.00
9,1,0.994396,3.213152e-11,3.875951e-09,0.0,0.0,0.00

In [ ]:
value

In [ ]:
A = df_test.iloc[:5,:6].to_numpy()

In [ ]:
print(A)

In [ ]:
loaded_model.predict_classes(A, verbose = 1) + 1

In [83]:
data = {}
i = 0

def hello(model):
    global i
    # read csv from the bottom
    df_test, value = _data()
    
    
    # here we're looping through the 5 seconds to read each row one time 
    if value > 1:
        for k in range(value):
            #convert straight to numpy to feed in values
            array = df_test.iloc[(df_test.personId_x.values == k).argmax() + i].to_numpy()
            
            #remove personId_x column
            array = np.delete(array, 0)
            array = array.reshape(6,1).T
            try:
                B = loaded_model.predict_classes(array, verbose = 1) + 1
            except:
                B = 0

            data[k] = int(B)
    
    else:
        # change to numpy format
        A = df_test.iloc[i:i + 1,:6].to_numpy()
        #make prediction
        print()
        print(A)
        print("Happy: ", A[0][0])
        print("Looking away: ", A[0][-1])
        print("Raising Hand: ", A[0][-3])
        print("Sleeping : ", A[0][-2])

    #make prediction
    if value > 1:
        print(data)
        
    else:
        try:
            predictions = loaded_model.predict_classes(A, verbose = 1) + 1
        except:
            predictions = 0
        
        print(int(predictions))
        
    print("read csv, reading from second {}".format(i))
    i = i + 1
    
    #reset count every 5 seconds
    if i == 5:
        i = 0

In [87]:
hello(loaded_model)

1/1 [==============================] - 0s 2ms/step
1/1 [==============================] - 0s 2ms/step
{0: 5, 1: 5}
read csv, reading from second 2

In [88]:
import time
i = 0
count = 0
count_max = 100


nexttime = time.time()
while True:
    hello(loaded_model)          
    
    print("count number {}".format(count))
    
    #i want to loop it every second to output an engagement value every second, nexttime will be 1
    nexttime += 1
    sleeptime = nexttime - time.time()
    if sleeptime > 0:
        time.sleep(sleeptime)
    count += 1
    
    if count == count_max:
        print("CSV Reading Stopped")
        break

1/1 [==============================] - 0s 2ms/step
1/1 [==============================] - 0s 3ms/step
{0: 4, 1: 4}
read csv, reading from second 0
count number 0
1/1 [==============================] - 0s 2ms/step
1/1 [==============================] - 0s 4ms/step
{0: 4, 1: 4}
read csv, reading from second 1
count number 1
1/1 [==============================] - 0s 2ms/step
1/1 [==============================] - 0s 4ms/step
{0: 5, 1: 5}
read csv, reading from second 2
count number 2
1/1 [==============================] - 0s 2ms/step
1/1 [==============================] - 0s 2ms/step
{0: 5, 1: 5}
read csv, reading from second 3
count number 3
1/1 [==============================] - 0s 2ms/step
1/1 [==============================] - 0s 2ms/step
{0: 5, 1: 5}
read csv, reading from second 4
count number 4
1/1 [==============================] - 0s 2ms/step
1/1 [==============================] - 0s 17ms/step
{0: 4, 1: 4}
read csv, reading from second 0
count number 5

KeyboardInterrupt:

### Try to work on multi-values >>> output should be a dictionary of person and value (and average)

In [34]:
#first we read the values from emotions (expression.csv)

df1 = pd.read_csv('Expression.csv')

In [35]:
df1.head()

,_x,_y,_width,_height,happy,sad,neutral,disgusted,angry,fearful,surprised,timestamp,numPerson,personId
0,404.828671,297.238164,96.031586,99.390242,0.993784,0.001625,0.004120,0.000471,2.934151e-08,3.164569e-07,4.665591e-07,55,2,0
1,169.483649,203.744484,147.709641,148.273853,0.993784,0.001625,0.004120,0.000471,2.934151e-08,3.164569e-07,4.665591e-07,55,2,1
2,406.252615,299.337912,94.024082,97.268937,0.974517,0.000676,0.013236,0.011566,6.836901e-07,1.899718e-06,2.856096e-06,55,2,0
3,170.089537,204.239503,147.603534,149.824284,0.974517,0.000676,0.013236,0.011566,6.836901e-07,1.899718e-06,2.856096e-06,55,2,1
4,175.038485,209.433737,130.094576,130.676850,0.521718,0.066536,0.410806,0.000712,1.078657e-05,3.314492e-05,1.845496e-04,55,2,0

In [36]:
df1 = df1.drop(columns = ['_x', '_y', '_width', '_height', 'fearful', 'neutral', 'sad','surprised'])

In [37]:
df1

       happy     disgusted         angry  timestamp  numPerson  personId
0   0.993784  4.711531e-04  2.934151e-08         55          2         0
1   0.993784  4.711531e-04  2.934151e-08         55          2         1
2   0.974517  1.156555e-02  6.836901e-07         55          2         0
3   0.974517  1.156555e-02  6.836901e-07         55          2         1
4   0.521718  7.118037e-04  1.078657e-05         55          2         0
5   0.521718  7.118037e-04  1.078657e-05         55          2         1
6   0.591663  2.643234e-04  8.379601e-06         55          2         0
7   0.591663  2.643234e-04  8.379601e-06         55          2         1
8   0.999247  2.244416e-07  6.398591e-10         55          1         0
9   0.992407  1.630568e-08  9.820328e-08         56          2         0
10  0.992407  1.630568e-08  9.820328e-08         56          2         1
11  0.660349  8.783214e-08  8.830989e-10         56          2         0
12  0.660349  8.783214e-08  8.830989e-10         56          2         1
13  0.939573  1.035273e-07  1.242077e-09         56          1         0
14  0.999741  5.922940e-09  1.070421e-11         56          2         0
15  0.999741  5.922940e-09  1.070421e-11         56          2         1
16  0.999862  1.302898e-09  2.075480e-12         56          2         0
17  0.999862  1.302898e-09  2.075480e-12         56          2         1
18  0.999777  3.592126e-10  1.871257e-12         57          2         0
19  0.999777  3.592126e-10  1.871257e-12         57          2         1
20  0.999869  5.809864e-10  1.000735e-11         57          2         0
21  0.999869  5.809864e-10  1.000735e-11         57          2         1
22  0.999997  2.089112e-09  2.404302e-14         57          2         0
23  0.999997  2.089112e-09  2.404302e-14         57          2         1
24  0.999820  4.714463e-09  4.642432e-13         58          2         0
25  0.999820  4.714463e-09  4.642432e-13         58          2         1
26  0.998954  2.647039e-08  8.084671e-13         58          2         0
27  0.998954  2.647039e-08  8.084671e-13         58          2         1
28  0.999834  1.555443e-08  1.154835e-13         58          2         0
29  0.999834  1.555443e-08  1.154835e-13         58          2         1
30  0.993299  5.383034e-07  2.661127e-10         58          2         0
31  0.993299  5.383034e-07  2.661127e-10         58          2         1
32  0.994396  3.875951e-09  3.213152e-11         59          2         0
33  0.994396  3.875951e-09  3.213152e-11         59          2         1

In [38]:
# we want to check for the maximum number of people within 5 seconds
value = df1['numPerson'].max()
if value > 1:
    df1 = df1.groupby(['personId', 'timestamp']).mean()

In [39]:
df1

                       happy     disgusted         angry  numPerson
personId timestamp
0        55         0.816186  2.602610e-03  3.975968e-06        1.8
         56         0.918387  4.297819e-08  2.006825e-08        1.8
         57         0.999881  1.009770e-09  3.967549e-12        2.0
         58         0.997977  1.462607e-07  6.687523e-11        2.0
         59         0.994396  3.875951e-09  3.213152e-11        2.0
1        55         0.770420  3.253206e-03  4.969800e-06        2.0
         56         0.913090  2.784091e-08  2.477479e-08        2.0
         57         0.999881  1.009770e-09  3.967549e-12        2.0
         58         0.997977  1.462607e-07  6.687523e-11        2.0
         59         0.994396  3.875951e-09  3.213152e-11        2.0

In [40]:
df1 = df1.reset_index()
df1

   personId  timestamp     happy     disgusted         angry  numPerson
0         0         55  0.816186  2.602610e-03  3.975968e-06        1.8
1         0         56  0.918387  4.297819e-08  2.006825e-08        1.8
2         0         57  0.999881  1.009770e-09  3.967549e-12        2.0
3         0         58  0.997977  1.462607e-07  6.687523e-11        2.0
4         0         59  0.994396  3.875951e-09  3.213152e-11        2.0
5         1         55  0.770420  3.253206e-03  4.969800e-06        2.0
6         1         56  0.913090  2.784091e-08  2.477479e-08        2.0
7         1         57  0.999881  1.009770e-09  3.967549e-12        2.0
8         1         58  0.997977  1.462607e-07  6.687523e-11        2.0
9         1         59  0.994396  3.875951e-09  3.213152e-11        2.0

In [41]:
df1 = df1.drop(columns = ['numPerson'])

In [42]:
df1

   personId  timestamp     happy     disgusted         angry
0         0         55  0.816186  2.602610e-03  3.975968e-06
1         0         56  0.918387  4.297819e-08  2.006825e-08
2         0         57  0.999881  1.009770e-09  3.967549e-12
3         0         58  0.997977  1.462607e-07  6.687523e-11
4         0         59  0.994396  3.875951e-09  3.213152e-11
5         1         55  0.770420  3.253206e-03  4.969800e-06
6         1         56  0.913090  2.784091e-08  2.477479e-08
7         1         57  0.999881  1.009770e-09  3.967549e-12
8         1         58  0.997977  1.462607e-07  6.687523e-11
9         1         59  0.994396  3.875951e-09  3.213152e-11

In [43]:
df2 = pd.read_csv('Pose.csv')

In [44]:
df2.head()

   sleeping  raisHand   eyeCoordX   eyeCoordY  timestamp  numPersons  personId
0         0         0  310.694733  289.758482         56           2         0
1         0         0  541.315322  381.171224         56           2         1
2         0         0  311.301297  289.295734         56           2         0
3         0         0  541.104806  380.601894         56           2         1
4         0         0  309.345116  290.317331         56           2         0

In [45]:
df2 = df2.drop(columns = ['eyeCoordX', 'eyeCoordY'])

In [46]:
# we want to check for the maximum number of people within 5 seconds
value2 = df2['numPersons'].max()
print(value2)
if value > 1:
    df2 = df2.groupby(['personId', 'timestamp']).max()

2

In [47]:
df2 = df2.reset_index()

In [48]:
df2 = df2.drop(columns = ['numPersons'])

In [49]:
df3 = pd.read_csv('HeadGaze.csv')

In [50]:
df3 = df3.drop(columns = ['xCord', 'yCord', 'count'])

In [51]:
df3

    headpose  timestamp  numPerson  personId
0          0         55          2         0
1          0         55          2         1
2          0         55          1         0
3          0         57          2         0
4          0         57          2         1
5          0         57          2         0
6          1         57          2         1
7          0         58          2         0
8          0         58          2         1
9          0         58          2         0
10         0         58          2         1
11         0         59          2         0
12         0         59          2         1

In [52]:
# we want to check for the maximum number of people within 5 seconds
value3 = df3['numPerson'].max()
print(value3)
if value3 > 1:
    df3 = df3.groupby(['personId', 'timestamp']).max()

2

In [53]:
df3 = df3.reset_index()

In [54]:
df3 = df3.drop(columns = ['numPerson'])

In [55]:
df2.head()

   personId  timestamp  sleeping  raisHand
0         0         56         0         0
1         0         57         0         0
2         0         58         0         0
3         0         59         0         0
4         0         60         0         0

In [56]:
df1.head()

   personId  timestamp     happy     disgusted         angry
0         0         55  0.816186  2.602610e-03  3.975968e-06
1         0         56  0.918387  4.297819e-08  2.006825e-08
2         0         57  0.999881  1.009770e-09  3.967549e-12
3         0         58  0.997977  1.462607e-07  6.687523e-11
4         0         59  0.994396  3.875951e-09  3.213152e-11

In [57]:
df_try = df1.merge(df2, on = 'timestamp', how = 'left')
df_try = df_try.merge(df3, on = 'timestamp', how = 'left')

In [58]:
df_try = df_try.drop(columns = ['personId_y', 'personId'])

In [59]:
df_try = df_try.fillna(method = 'bfill')
df_try = df_try.fillna(method = 'ffill')
df_try = df_try.fillna(0)

In [60]:
df_try = df_try.groupby(['personId_x', 'timestamp']).mean()

In [61]:
df_try = df_try.reset_index()

In [62]:
df_try

,personId_x,timestamp,happy,disgusted,angry,sleeping,raisHand,headpose
0,0,55,0.816186,2.602610e-03,3.975968e-06,0.0,0.0,0.0
1,0,56,0.918387,4.297819e-08,2.006825e-08,0.0,0.0,0.0
2,0,57,0.999881,1.009770e-09,3.967549e-12,0.0,0.0,0.5
3,0,58,0.997977,1.462607e-07,6.687523e-11,0.0,0.0,0.0
4,0,59,0.994396,3.875951e-09,3.213152e-11,0.0,0.0,0.0
5,1,55,0.770420,3.253206e-03,4.969800e-06,0.0,0.0,0.0
6,1,56,0.913090,2.784091e-08,2.477479e-08,0.0,0.0,0.0
7,1,57,0.999881,1.009770e-09,3.967549e-12,0.0,0.0,0.5
8,1,58,0.997977,1.462607e-07,6.687523e-11,0.0,0.0,0.0
9,1,59,0.994396,3.875951e-09,3.213152e-11,0.0,0.0,0.0

In [63]:
df_try = df_try.drop(columns = ['timestamp'])

In [68]:
A = np.delete(df_try.iloc[0].to_numpy(), 0)

In [79]:
A = A.reshape(6,1).T

In [80]:
loaded_model.predict_classes(A, verbose = 1)

WARNING:tensorflow:From C:\Users\Gabriel Sze\Anaconda3\envs\tensor\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

1/1 [==============================] - 0s 207ms/step

array([3], dtype=int64)

In [ ]:
info = {}

In [ ]:
# here we're looping through the 5 seconds to read each row one time 
for i in range(5):
    for k in range(value):
        #convert straight to numpy to feed in values
        info[k] = df_try.iloc[(df_try.personId_x.values == k).argmax() + i].to_numpy()

In [ ]:
info

In [ ]:
(test_df.personId.values == 1).argmax()

##### check with other csv values for numPerson and personId

In [ ]:
df2 = pd.read_csv('HeadGaze.csv')
df2 = df2.drop(columns = ['xCord', 'yCord', 'count'])

In [ ]:
df2